# Based on https://github.com/valgur/clang-guess-format
BasedOnStyle: WebKit
UseTab: Never
IndentWidth: 2
TabWidth: 2
ColumnLimit: 90
BreakBeforeBinaryOperators: None
AlwaysBreakAfterReturnType: TopLevelDefinitions
PointerAlignment: Right
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: Consecutive
FixNamespaceComments: true

# BreakBeforeBraces: Allman
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
